/* public/styles/style.css */

body {
    font-family: Arial, sans-serif;
    background-color:black;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:gray;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c82333;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}

.list-group-item:last-child {
    border-bottom: none;
}

.delete-btn {
    background-color: transparent;
    color: #dc3545;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.delete-btn:hover {
    color: #721c24;
}
.navbar-brand{
    margin-left: 650PX;
    color:white;;
}
.abh{
    margin-left: 250px;
}
.abhi{
    color: white;
    margin-left:1300px ;
}
